<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper   
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">  

<mapper namespace="kr.spring.board.dao.BoardMapper">
	<!-- 여기서의 id는 BoardMapper의 메소드명 -->
	
	<!-- 목록 -->
	<select id="selectBoardList" parameterType="map" resultType="boardVO">
		SELECT * FROM
			(SELECT a.*, rownum rnum FROM
				(SELECT * FROM aboard ORDER BY num DESC)a)
				<![CDATA[
					WHERE rnum >= #{start} AND rnum <= #{end}
				]]>
	</select>
	
</mapper>





