<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>글 상세</title>
<link rel="stylesheet" th:href="@{/css/style.css}" type="text/css">
</head>
<body>
<div class="page-main">
	<h2 th:text="${board.title}"></h2>
	<p>
		<span th:text="'글번호 : ' + ${board.num}"></span><br>
		<span th:text="'작성자 : ' + ${board.writer}"></span><br>
		<span>작성일 : [[${board.reg_date}]]</span>
	</p>
	<hr width="100%" size="1" noshade="noshade">
	<p th:text="${board.content}"></p>
	<div class="align-center">
																		<!--  | | 사용과 th 사용과 @{} 사용 등 주의 -->
		<input type="button" value="수정" th:onclick="|location.href='@{update.do(num=${board.num})}'|">
		<input type="button" value="삭제" th:onclick="|location.href='@{delete.do(num=${board.num})}'|">
		<input type="button" value="목록" th:onclick="location.href='list.do'">
	</div>
</div>
</body>
</html>