<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

	<!-- ch07 ~ ch13 -->
	
	<!-- DI 프로퍼티 설정방식 -->
	<bean name="registerService" class="kr.spring.ch07.RegisterService"> 
		<!-- name : 의존 객체를 주입할 때 사용할 설정 메서드(setter)의 프로퍼티 이름 -->
		<property name="registerDAO"> 
			<ref bean="registerDAO"/>
		</property>
	</bean>
	<bean name="registerDAO" class="kr.spring.ch07.RegisterDAO"/>
	
	<!-- DI 프로퍼티 설정방식- 여러개의 프로퍼티 -->
	<bean id="work" class="kr.spring.ch08.WorkController">
		<property name="periodTime">
			<value>10</value>
		</property>
		<property name="email">
			<ref bean="email"/>
		</property>
	</bean>
	<bean id="email" class="kr.spring.ch08.EmailSender"/>
	
	<!-- XML name space를 이용한 property 설정 -->
	<bean id="upload" class="kr.spring.ch09.UploadController"
				p:timeout="50" p:image-ref="image"/>
	<bean id="image" class="kr.spring.ch09.ImageSender"/>
	
	<!-- 컬렉션 타입의 프로퍼티 설정 -->
	<!-- List 타입 프로퍼티 설정 -->
	<bean name="performanceMonitor" class="kr.spring.ch10.PerformanceMonitor">
		<property name="deviations">
			<list value-type="java.lang.Double">
				<value>0.2</value>
				<value>0.3</value>
			</list>
		</property>
	</bean>
	
	<!-- Map 타입 프로퍼티 설정 -->
	<bean name="protocolHandlerFactory" class="kr.spring.ch11.ProtocolHandlerFactory">
		<!-- setMap 메서드를 찾아서 객체 전달 -->
		<property name="map"> <!-- 메서드 이름이 아닌 프로퍼티 이름 전달 -->
			<map>
				<entry>
					<key><value>soap</value></key>
					<ref bean="soapHandler"/>
				</entry>
				<entry>
					<key><value>rest</value></key>
					<ref bean="restHandler"/>
				</entry>
			</map>
		</property>
	</bean>
	<bean name="soapHandler" class="kr.spring.ch11.SoapHandler"/>
	<bean name="restHandler" class="kr.spring.ch11.RestHandler"/>
	
	<!-- Properties 타입 프로퍼티 설정 -->
	<bean name="bookClient" class="kr.spring.ch12.BookClient">
		<property name="prop">
			<props>
				<prop key="server">192.168.0.1</prop>
				<prop key="connectionTimeout">5000</prop>
			</props>
		</property>
	</bean>
	
	<!-- Set 타입 프로퍼티 설정 -->
	<bean name="videoClient" class="kr.spring.ch13.VideoClient">
		<property name="subSet">
			<set>
				<value>10</value>
				<value>20</value>
			</set>
		</property>
	</bean>
	
</beans>





