<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper   
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">  

<mapper namespace="kr.spring.board.dao.BoardMapper">
	<!-- 총 레코드 수 -->
	<select id="selectBoardCount" resultType="integer">
		SELECT COUNT(*) FROM aboard
	</select>
	
	<!-- 목록 -->
	<!-- resultType="boardVO" 는 SqlMapConfig.xml에서 설정한 alias 이름 -->
	<select id="selectBoardList" parameterType="map" resultType="boardVO">
		SELECT * FROM
			(SELECT a.*, rownum rnum FROM
				(SELECT * FROM aboard ORDER BY num DESC)a)
				<![CDATA[
					WHERE rnum >= #{start} AND rnum <= #{end}
				]]>
	</select>
	
	<!-- 글 등록 -->
	<insert id="insertBoard" parameterType="boardVO">
		INSERT INTO aboard(num, writer, title, passwd, content, reg_date) 
			VALUES(aboard_seq.nextval, #{writer}, #{title}, #{passwd}, #{content}, SYSDATE)
	</insert>
	
	<!-- 글 상세 -->
	<select id="selectBoard" parameterType="integer" resultType="boardVO">
	<!-- BoardMapperImpl 에서의 selectBoard 의 파라미터 이름이 num 이라서 아래도 #{num} 임 -->
		SELECT * FROM aboard WHERE num = #{num}
	</select>
	
	<!-- 글 수정-->
	<update id="updateBoard" parameterType="boardVO">
		UPDATE aboard SET writer=#{writer}, title=#{title}, content=#{content} WHERE num=#{num}
	</update>
	
	<!-- 글 삭제-->
	<delete id="deleteBoard" parameterType="integer">
		DELETE FROM aboard WHERE num=#{num}
	</delete>
	
	
</mapper>





