<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper   
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">  

<mapper namespace="kr.spring.todo.dao.TodoMapper">
	<update id="updateTodo" parameterType="todoVO">
		UPDATE stodo
		SET
		<if test="completed == 0">completed=1</if>
		<if test="completed == 1">completed=0</if>
		WHERE id=#{id}
	</update>
</mapper>





